/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  --title-color: #ff9800;
  --subtitle-color: #1e90ff;
  --header-color: #5b5b5b;
  --bg-color: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

h3,
th {
  color: var(--header-color);
}

td > strong {
  color: var(--header-color);
}

table {
  border-spacing: 0px;
}

table tr:nth-child(even) {
  background-color: #5b5b5b08;
}

.container {
  background-color: var(--bg-color);
  border-radius: 10px;
  width: 100%;
  max-width: 680px;
  display: flex;
  padding: 20px;
  position: relative;
}

.results_positive {
  color: green;
  margin-right: 10px;
}

.results_negative {
  color: red;
  margin-left: 10px;
}

.results_table {
  width: 100%;
}

.results_table_headers {
  text-align: left;
}

.results_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.results_totals,
.results_percentages_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results_percentages {
  display: flex;
  flex-direction: column;
}

.results_percentages h3 {
  color: var(--title-color) !important;
}

.results_percentages_container_cols {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form_headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--title-color);
}

.form_headers h3 {
  color: var(--subtitle-color);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

input[type="submit"] {
  padding: 10px;
  font-size: 0.9rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: var(--subtitle-color);
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="submit"]:hover {
  background-color: #3899f9;
}

input[type="submit"]:active {
  background-color: #3899f9;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px;
  transform: translateY(4px);
}

.bts {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bts button {
  font-size: medium;
  border: none;
  background-color: transparent;
}

/* sidebar */
.hideSidebar {
  translate: -75px 0;
  background: transparent !important;
}

.sidebar {
  position: absolute;
  background: var(--bg-color);
  top: 5px;
  left: 5px;
  width: 10rem;
  padding-inline-start: 0px;
  z-index: 999;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sidebar-close {
  position: absolute;
  right: 0px;
  font-size: 1.6rem;
  opacity: 0.3;
}

.sidebar h3 {
  padding: 5px;
}

.sidebar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0 5px;
}

/* Calc Avg Page */

.calcavg-container {
  flex-direction: column;
}

.calcavg-container h2 {
  text-align: center;
  color: var(--subtitle-color);
}
